          .part1header {
            text-align: center;
            background-image: url("../images/landing.jpg");
            padding-bottom: 150px;
            padding-top: 80px;
            font-size: 20px;
          }

          p {
            color: white;
          }

          #part2hh {
            background-color: lightgrey;
            color: black;
            text-align: center;
            padding: 42.5px;
            margin-bottom: 0px;
          }

          #pt {
            background-color: #F15A29;
            text-align: center;
            padding: 42.5px;
            color: white;
            margin-top: 0px;
          }

          #bf {
            text-align: center;
            background-image: url("../images/breakfast.jpg");
            color: white;
            padding: 95px;
            font-style: italic;
          }

          #lh {
            text-align: center;
            background-image: url("../images/assets/foodtop/dinner2.jpg");
            color: white;
            padding: 95px;
            font-style: italic;
          }

          #dr {
            text-align: center;
            background-image: url("../images/assets/foodtop/dinner.jpg");
            color: white;
            padding: 95px;
            font-style: italic;
          }

          .col-md-3 {
            text-align: center;
            margin-top: 0px;
            padding: 0px;
          }

          .col-md-6 {
            margin-top: 80px;
          }

          .fastfd {
            padding: 12px 10px 12px 19px;
            margin: 10px;
            box-shadow: rgba(83, 42, 86, 0.28) 0px 1px 10px;
          }

          h1 {
            padding-top: 30px;
          }

          .dk {
            text-align: right;
          }

          .mk {
            box-shadow: rgba(83, 42, 86, 0.28) 0px 1px 10px;
            padding: 12px 20px 12px 20px;
            margin: 20px;
            margin-left: 0px;
            margin-bottom: 70px;
          }

          .bg {
            background-image: url("../images/assets/backgrounds/foodsBg.jpg");
            height: 500px;
            /*background-size: cover;*/
            padding-top: 5px;
          }

          .myfirst {
            background-color: white;
            height: 350px;
            /*padding: 50px 0 50px 0;*/
            text-align: center;
            margin: 50px;
          }
          /*
          .myfirst .col-md-3 {
            padding: 0;
            margin: 0px;
          }*/

          .active {
            color: red;
            background-color: white;
            padding: 0;
            margin: 0px;
          }

          .inactive {
            color: black;
            background-color: grey;
            padding: 0;
            margin: 0;
          }

          h6 {
            color: red;
            margin: 0px;
            padding: 5% 0 5% 0;
          }

          .col-md-4 {
            padding-top: 40px;
          }

          .myfirst .col-md-3 :hover:not(.active) {
            background-color: white;
            cursor: pointer;
          }

          .part5 {
            background-color: white;
            height: 300px;
          }

          .part5a {
            text-align: center;
            margin: 5%;
            box-shadow: rgba(83, 42, 86, 0.28) 0px 1px 10px;
            padding-bottom: 40px;
            padding-top: 40px;
          }

          #hc {
            color: red;
          }

          #am {
            color: red;
          }

          .part6 {
            background-image: url("../images/assets/backgrounds/subscribe.jpg");
            height: 301px;
            background-color: #F15A29;
          }

          #gdt {
            text-align: center;
            color: white;
            padding-top: 70px;
          }

          .part6b {
            background-color: #F15A29;
            height: 301px;
          }

          #frm {
            text-align: center;
          }

          #mn {
            text-align: center;
            padding-top: 20px;
          }

          #wht {
            text-align: center;
          }

          .part6b .container {
            text-align: center;
          }

          @media screen and (min-width: 480px) {}
